<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>Worth Publishing Sense & Perception Activity Project</title>
    <link rel="stylesheet" href="assets/stylesheets/screen.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css"> 
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-responsive.min.css">   

    
  </head>
  <body ng-app="app" ng-cloak>
    <div class="container-wrapper" ng-controller="PageCtrl" ng-click="change(1, 'home')">
      <div class="content-wrapper">
        <div class="page" ng-model="currentPage" ng-click="change(1)" ng-show="currentPage==0"  ng-animate="'fade'">
          <div class="container">
            <div class="row">
              <div class="span12 whitebox">
                <h1 class="page-title page-copy_margin centeredtext">Selective Attention</h1>
                <p class="page-copy page-copy_margin centeredtext"> Participate in a visual version of a dichotic listening experiment to explore the factors involved in selective attention.</p>
                <p class="page-copy page-copy_margin centeredtext">Click anywhere to begin.</p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="page" ng-model="currentPage"  ng-show="currentPage==1" ng-animate="'fade'">
           <div class="container">
            <div class="row">
              <div class="span12 whitebox" ng-model="currentPageCopy">
                <p class="page-copy page-copy_margin centeredtext" ng-repeat="pageCopy in currentPageCopy.copy">
                  {{pageCopy.line}}
                </p>
              </div>
            </div>
          </div>
         
          <div class="container">
            <div class="row test" ng-controller="TestCtrl" data-ng-init="initTest()">
              <div class="span8 offset4">
                <div class="row">
                  <div class="span4">
                    <ul class="unstyled test-listitems">
                      <li class="test-listitem" ng-model="list1">{{list1}}</li>
                      <li class="test-listitem" ng-model="list2">{{list2}}</li>
                      <li class="test-listitem" ng-model="list3">{{list3}}</li>
                    </ul>
                  </div>
                  <div class="span4" ng-model="stimuli" ng-hide="stimuli==false">
                    <div class="list1" ng-model="stimuliList" data-list="{{stimuliList}}">
                      <div class="stimulibox">
                        <h2 class="centeredtext">Top Stream</h2>
                        <div class="pull-left stimulibox-list">
                          <span ng-repeat="stimuliList in stimuliList.list1">
                            {{stimuliList.word}},
                          </span>
                        </div>
                      </div>
                      <div class="stimulibox">
                        <h2 class="centeredtext">Middle Stream</h2>
                        <div class="pull-left stimulibox-list">
                          <span ng-repeat="stimuliList in stimuliList.list2">
                            {{stimuliList.word}},
                          </span>
                        </div>
                      </div>
                      <div class="stimulibox">
                        <h2 class="centeredtext">Bottom Stream</h2>
                        <div class="pull-left stimulibox-list">
                          <span ng-repeat="stimuliList in stimuliList.list3">
                            {{stimuliList.word}},
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="span4" >
                    
                      <button ng-click="startTest(1)" ng-model="isplaying" ng-disabled="isplaying" ng-show="replay==false" type="button" class="btn btn-primary" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                          Play
                      </button>
                      <button ng-click="startTest(1);replay=false;" ng-disabled="isplaying" ng-show="replay==true" type="button" class="btn btn-primary" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                          REPLAY
                      </button>
                      <button type="button" ng-show="replay==false" ng-click="replay=true; stopTest();" ng-model="notcomplete" ng-disabled="notcomplete" class="btn btn-primary" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Finished
                      </button>
                      <button type="button" ng-show="replay==true && stimuli==false" ng-click="stimuli=true;" class="btn btn-primary" ng-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Show Stimuli
                      </button>
                      <button type="button" ng-show="stimuli==true" ng-click="stimuli=false;" class="btn btn-primary"  btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Hide Stimuli
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    
    <script src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>