/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";

/* sprite generation */
@import "sprites/general/*.png";
@include all-general-sprites;

@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";


body, p, span, div {
  color: $body-copy;
}
li {
  float: left;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.page-title {
  @include font-large(bold);
}

.page-copy {
  @include font-regular(normal);
}

.page-copy_margin {
  margin: 10px 10px;
}

.container {
  margin-bottom: 20px;
}

.container-wrapper {
  height: 100%;
  min-height: 800px;
  @include background-image(url(../images/bg.png),radial-gradient(center, ellipse cover, #ffffff 16%, #cccccc 100%));
  background-repeat: repeat;
}
.content-wrapper {
  overflow: hidden;
}

.page {
  margin: 20px;
}

.test-wrapper {
  height: 90px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
  background-color: rgba(#ffffff, 0.5);
  border: 2px solid #000;
  margin-bottom: 12px;
}

.test-listitem {
  float: left;
  width: 100%;
  text-align: center;
  @include font-large(bold);
  line-height: $font-large + 10;
}

.centeredtext {
  text-align: center;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.whitebox {
  background-color: #fff;
}

.stimulibox {
  border: 2px solid #000;
  width: 225px;
  margin: 0px 0 10px;
  float: left;
  
  & > h2 {
    background-color: #000;
    color: $body-copy-inverse;
    @include font-regular(bold);
    margin: 0;
    line-height: 26px;
  }
  
  & > .stimulibox-list {
    background-color: white;
    padding: 5px;
    @include font-small(normal);
  }
}

.explanation-title {
  line-height: 46px;
  margin: 0px !important;
}

.explanation-image {
  padding: 16px;
  background-color: #fff;
}

.btn-margintop {
  margin-top: 20px;
}

.complete {
  width: 100%;
  height: 102px;
  margin-top: 180px;
  background-position: center;
}

.complete-title {
  @include font-xlarge(bold);
}
.complete-copy {
  @include font-large(bold);
  width: 80%;
  padding: 2% 10%;
  line-height: 22px;
}
/* Bootstrap overrides */
.bootstrap-overrides {
  &.btn-primary, &.btn-primary:focus, &.btn-primary[disabled=disabled],&.btn-primary[disabled=disabled]:hover,&.btn-primary[disabled=disabled]:focus {
    background: #fff;
    color: $body-copy;
    text-transform: uppercase;
    font-size: 11pt;
    @include border-radius(20px);
    @include box-shadow(rgba($body-copy, 0.7) 0px 2px 0px);
    min-width: 100px;
    outline: none;
    
  }
  
  &.btn-primary:hover {
    background: #CCC;
    color: $body-copy;
  }
  
  &.media { 
    @include border-radius(6px);
    background-color: rgba(#ffffff, 0.7);
    margin-bottom: 25px;
    
    & > .media-object {
      @include border-top-left-radius(6px);
      @include border-bottom-left-radius(6px);
      @include background-image(linear-gradient(#C775B0, #8E5BA6));
      padding: 0 20px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      color: $body-copy-inverse;
      & > img {
        margin-top: -3px;
        margin-right: 5px;
      }
      
      &.media-object_questionnaire {
        @include background-image(linear-gradient(#50B847,#02A200));
      }
    }
  }
  
  &.radio {
    line-height: 24px;
  }
  
}

@import "partials/animations";
 