$body-copy: #4B4B4B;
$body-copy-inverse: #fff;

//font sizes
$font-regular: 15px;
$font-large: 17px;
$font-small: 13px;
$font-xlarge: 32px;

//fonts
$font-family-regular: Arial, "sans-serif";
$default_font_style: normal;
