/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* sprite generation */
/* line 66, sprites/general/*.png */
.general-sprite, .general-nav-left, .general-nav-right, .general-page-bottom-corner, .general-page-gutter-top {
  background: url('/worth/assets/images/sprites/general-s11a649fb0c.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.general-nav-left {
  background-position: 0 0;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.general-nav-right {
  background-position: 0 -99px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.general-page-bottom-corner {
  background-position: 0 -198px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.general-page-gutter-top {
  background-position: 0 -222px;
}

/* line 19, ../sass/screen.scss */
body, p, span, div {
  color: #4b4b4b;
}

/* line 22, ../sass/screen.scss */
li {
  float: left;
}

/* line 26, ../sass/screen.scss */
.page-title {
  font: normal bold 14px Arial, "sans-serif";
}

/* line 30, ../sass/screen.scss */
.page-copy {
  font: normal normal 12px Arial, "sans-serif";
}

/* line 34, ../sass/screen.scss */
.page-copy_margin {
  margin: 10px 10px;
}

/* line 38, ../sass/screen.scss */
.container-wrapper {
  height: 100%;
  min-height: 800px;
  background-image: url(../images/bg.png), -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(16%, #ffffff), color-stop(100%, #cccccc));
  background-image: url(../images/bg.png), -webkit-radial-gradient(center, ellipse cover, #ffffff 16%, #cccccc 100%);
  background-image: url(../images/bg.png), -moz-radial-gradient(center, ellipse cover, #ffffff 16%, #cccccc 100%);
  background-image: url(../images/bg.png), -o-radial-gradient(center, ellipse cover, #ffffff 16%, #cccccc 100%);
  background-image: url(../images/bg.png), radial-gradient(center, ellipse cover, #ffffff 16%, #cccccc 100%);
  background-repeat: repeat;
}

/* line 44, ../sass/screen.scss */
.content-wrapper {
  overflow: hidden;
}

/* line 48, ../sass/screen.scss */
.page {
  margin: 20px;
}

/* line 52, ../sass/screen.scss */
.test-listitem {
  float: left;
  width: 100%;
  text-align: center;
}

/* line 58, ../sass/screen.scss */
.centeredtext {
  text-align: center;
}

/* line 62, ../sass/screen.scss */
.fullscreen {
  width: 100%;
  height: 100%;
}

/* line 67, ../sass/screen.scss */
.whitebox {
  background-color: #fff;
}

/* line 71, ../sass/screen.scss */
.stimulibox {
  border: 2px solid #000;
  width: 225px;
  margin: 10px 0 0;
  float: left;
}
/* line 77, ../sass/screen.scss */
.stimulibox > h2 {
  background-color: #000;
  color: white;
  font: normal bold 12px Arial, "sans-serif";
  margin: 0;
  line-height: 26px;
}
/* line 85, ../sass/screen.scss */
.stimulibox > .stimulibox-list {
  background-color: white;
  padding: 5px;
  font: normal normal 10px Arial, "sans-serif";
}

/* line 1, ../sass/partials/_animations.scss */
.fade-hide, .fade-show {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

/* line 7, ../sass/partials/_animations.scss */
.fade-hide {
  opacity: 1;
}

/* line 10, ../sass/partials/_animations.scss */
.fade-hide.fade-hide-active {
  opacity: 0;
}

/* line 13, ../sass/partials/_animations.scss */
.fade-show {
  opacity: 0;
}

/* line 16, ../sass/partials/_animations.scss */
.fade-show.fade-show-active {
  opacity: 1;
}
