 <div class="modal-header" ng-controller="PageCtrl"><h2>Warning</h2></div>
      <div class="modal-body">
        <h2 class="page-title">You haven't completed all of the trials. If you leave this screen now, you won't be able to see your results.<br/>Are you sure you want to leave?</h2>
      </div>
      <div class="modal-footer">
        <button class="bootstrap-overrides btn btn-primary" ng-click="ok();">Yes</button>
        <button class="bootstrap-overrides btn btn-primary" ng-click="cancel();">No</button>
      </div>
