$body-copy: #8e8e8e;
$header-copy: #f2d476;
$btn-copy: #873116;

//font sizes
$font-regular: 12px;
$font-large: 14px;
$font-small: 10px;

//fonts
$font-family-regular: Helvetica, Arial, "sans-serif";
$default_font_style: normal;

//forms
$input-border-color: #494949;