$body-copy: #4B4B4B;
$body-copy-inverse: #fff;

//font sizes
$font-regular: 12px;
$font-large: 14px;
$font-small: 10px;

//fonts
$font-family-regular: Arial, "sans-serif";
$default_font_style: normal;
