 <div class="modal-header" ng-controller="PageCtrl"><h2>Warning</h2></div>
      <div class="modal-body">
        <h2 class="page-title">Would you like to try the experiment again?<br/><br/>
        If you click YES your current data will be lost and you will be able to complete the experiment again. 
        <br/>If you click NO you will remain on the results screen.</h2>
      </div>
      <div class="modal-footer">
        <button class="bootstrap-overrides btn btn-primary" ng-click="ok();">Yes</button>
        <button class="bootstrap-overrides btn btn-primary" ng-click="cancel();">No</button>
      </div>
